In [1]:
# from datetime import timedelta, datetime
import pandas as pd

df = pd.read_csv('C:\\Users\\moham\\OneDrive - De Montfort University\\Final Project\\Master_Thesis\\Dataset\\GTWYDaily.csv', index_col=0, parse_dates=True)

In [2]:
df.head()

,Electric,Gas,Water,temp,dew_point,pressure,humidity,wind_speed
Datetime,,,,,,,,
2008-05-23,21.259812,4.716729,0.102063,13.193333,9.482083,1013.916667,78.416667,3.830833
2008-05-24,9.742125,4.643917,0.001313,12.617500,8.603750,1013.958333,76.875000,7.959167
2008-05-25,9.466250,4.789521,0.001104,11.202083,9.725417,1014.250000,90.625000,7.675000
2008-05-26,9.720917,4.913646,0.002917,12.089167,8.680417,1014.333333,79.750000,9.237917
2008-05-27,9.453167,4.650792,0.004125,11.814583,10.532500,1011.708333,92.000000,4.222917

In [3]:
df.describe()

,Electric,Gas,Water,temp,dew_point,pressure,humidity,wind_speed
count,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000,5030.000000
mean,65.110404,36.410451,0.162880,10.480013,7.324636,1014.425663,82.011092,4.410895
std,24.416421,40.828944,0.144792,5.365918,4.745279,10.989824,8.513722,1.796035
min,9.453167,0.000000,-0.000417,-6.250000,-6.898750,972.791667,53.083333,0.822917
25%,45.254062,4.186875,0.006667,6.456146,3.792604,1007.760417,75.875000,3.079375
50%,62.753333,5.870833,0.170094,10.547917,7.558333,1015.458333,82.500000,4.189792
75%,86.230776,68.828099,0.270854,14.742083,11.055625,1021.833333,88.541667,5.529479
max,119.776333,209.571000,0.924167,26.625417,18.644167,1047.125000,100.000000,12.804583